.title {
  padding: 26px 0px;
}

span.shop {
  font-size: 30px;
}

.list_pro_cart {
  padding: 10px;
}

.show_cart {
  margin-bottom: 15%;
}

p.text_cart {
  padding: 15px;
  text-align: center;
}

a.btn.btn-info {
  margin-left: 43%;
}

input.count_product {
  width: 100%;
}

.cart-pop {
  padding: 20px;
}

h5.price {
  font-size: 21px;
  margin-top: 0px;
}

.delete {
  color: red;
}

p.text-name-product {
  font-size: 20px;
}

.delete h5 {
  font-size: 18px;
}

.col-md-12.total_price {
  background: white;
  font-size: 20px;
  padding: 20px;
}

span.number_sum {
  padding-left: 18px;
  color: red;
}

.buy_cart button {
  width: 100%;
  color: white;
  background: red;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 20px;
}

.col-md-12.buy_cart {
  margin-top: 10px;
  width: 100%;
  padding: 0px;
  border: none;
}

.col-md-6.change {
  display: inline-flex;
}

input.number-input {
  margin: 0px !important;
}

