h1.hd-banner1 {
  padding: 30px 10px;
  font-size: 30px;
}

a.first.action {
  background: #4CAF50;
  color: white;
}

a.first {
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  font-size: 20px;
  color: #44444496;
  margin: 0px 5px;
}

.pagiantion {
  /* margin-top: 25%; */
  padding-top: 25% !important;
  margin-bottom: 25px;
}

